/* font added */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
main{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}
/* first division strat
---------------------------------------- */
.first-division{
    background-color: #2D25A0;
    width: 100%;
    height: 740px;  
    display: flex;
    align-items: ;
    
}
.name-link{
    margin-left: 156px;
    margin-top: 160px;
    width: 50% ;
}
.main-name{
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 700px;
    width: 448px;
    height: 230px;
    margin-bottom: 60px;
    
    
    

}
.main-name:hover{
    color: rgb(206, 199, 199);
    transform: scale(1.1);
}
.live-link{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    text-align: center;
    padding-top: 15px;
    color: #FFFFFF;
    margin-top: 100px;
    transition: width 2s;
    
}
.live-link:hover{
    width: 300px;
    border-radius: 5px;
    background-color: #a01c4c;
}
#watch-live{
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 10px;
}
.footbal-kick{
    margin-top: 167px;
    margin-right: 350px;
    width: 556.01px;
    height: 438px;
    margin-bottom: 72px;
}
.footbal-kick .shot img{
    width: 150%;
    transition:  1.5s;
    
}
.first-division:hover img{
     transform: skew(-10deg);
}
   


/* second divition of players
----------------------------------------- */
.second-division{
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 180px;
    background-color: rgb(252, 247, 247);
}
.all-players{
    
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 35px;

}
.player{
    background-color: white;
    width: 320px;
    height: 490px;
    border: 1px solid rgb(245, 242, 242);
    padding-top: 25px;
    padding-left: 20px;
    box-shadow: 1px 1px 1px 1px rgb(238, 232, 232);
    /* margin: 10px 0 25px 15px; */
    
}

.all-players .player img{
    width: 300px;
    height: 256px;
    w
}
.player-details{
    width: 300px;
    height: 154px;
}
/* second division (bonous part-one):
------------------------------------------------------ */
.videos-part{
    margin-top: 65px;
}
.videos{
     display: flex;
 }
 .video{
     margin-right: 35px;
 }
 /* second division(bonous part-two) 
 -----------------------------------------*/

.sponsors{
    text-align: center;
    margin-top: 65px;
}
.special-sponsors{
    display: flex;
    justify-content:center;
}
.sponsor{
    background-image: linear-gradient(royalblue, rgb(18, 156, 211));
    padding: 10px 15px 10px 15px;
    margin-left: 15px;
    border-radius: 15px;
}
.sponsors .special-sponsors .sponsor a{
    text-decoration: none;
}
.sponsor a:visited{
    color: white;
}
.sponsor a:hover{
    color: brown;
   
}
.football-photo{
    margin-top: 95px;
}
.football-photo img{
    width: 40%;
}
/* footer style 
----------------------------------------------*/
footer{
    background-color: rgb(252, 247, 247);
    text-align:center;
    padding-top: 45px;
    padding-bottom: 35px;
    margin-bottom: 0;
}
.last-icon{
    color: gray;
    padding: 10px 10px 10px 10px;
    background-color: rgb(228, 220, 220);
    border-radius: 20px;
    margin-left: 10px;

}
.copyright{
    font-size: 25px;
}
.c-icon{
    font-size: 14px;
    color: gray;
}

/* @media query for mobile
--------------------------------------------- */
@media only screen and (max-width:688px){
    .body{
        width: 100%;
    }
    .first-division{
    
    width: 100%;
    height: 1100px;  
    display: flex;
    flex-direction: column;
    
}
.name-link{
    margin-left: 50px;
    margin-top: 0;
    width: 100%;
}
.main-name{
    width: 100%;
}
.live-link{
    margin-top: 250px;
}
.footbal-kick{
    width: 55%;
    margin-top: 100px;
    margin-left: 55px;
}
.second-division{
    padding-left: 20px;
}
.all-players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.videos{
    flex-direction: column;
    align-items: ;
}
.sponsors{
    padding-left: 85px;
}
.special-sponsors{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    padding-left: 35px;

}
.football-photo{
    position: relative;
}
.football-photo img{
    width: 200%;
    position: relative;
    right: 50px;
}